<footer class="bottom-0 w-full p-4 mt-12 text-xs text-center text-gray-400 border-t border-gray-200">
    <p>Datensparsam ohne Cookies und ohne externe Ressourcen. <a href="https://codeberg.org/600watt/pages" class="underline hover:text-blue-400">Quellen bei Codeberg</a>.</p>
</footer>

{{- if .Params.enableScrollSpy }}
<script>
const headings = document.querySelectorAll('#stickyTOC a');
headings[0].style.fontWeight = 'bold';
let timer;
document.addEventListener('scroll', () => {
    if (!timer) { // throttle
        timer = setTimeout(() => {
            let found = false;
            for (let i = 0; i < headings.length; i++) {
                // if !found and i is the last element, highlight the last
                let current = !found;
                if (!found && i < headings.length - 1) {
                    const next = headings[i + 1].href.split('#')[1];
                    const nextHeader = document.getElementById(next);
                    // this value can be precalculated (after rendering finishes)
                    // maybe take the height into consideration or offset by some value
                    const top = window.pageYOffset + nextHeader.getBoundingClientRect().top;
                    current = top > window.scrollY;
                }
                if (current) {
                    found = true;
                    headings[i].style.fontWeight = 'bold';
                } else {
                    headings[i].style.fontWeight = '';
                }
            }
            timer = null;
        }, 50);
    }
});
</script>
{{ end }}