<header class="w-full px-4 pt-4">
    <nav class="flex items-center justify-between flex-wrap">
        <a href="{{ .Site.Home.Permalink }}" class="flex items-center text-gray-700 font-bold">
            {{ $logo := resources.GetMatch "images/logo.svg" }}
            {{ if $logo }}
                <img src="{{ $logo.RelPermalink }}" alt="600 Watt" class="w-12 md:w-14 xl:w-20 aspect-square" width="100" height="100">
            {{ else }}
                {{ .Site.Title }}
            {{ end }}
        </a>

        <input id="nav-toggle" type=checkbox class="hidden">
        <label id="show-button" for="nav-toggle"
            class="flex items-center sm:hidden text-gray-500 hover:text-blue-500">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu Open</title>
                <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z" />
            </svg>
        </label>
        <label id="hide-button" for="nav-toggle" class="items-center hidden text-gray-700 hover:text-blue-500">
            <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu Close</title>
                <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                    transform="rotate(45 10 10)" />
            </svg>
        </label>

        <ul id="nav-menu" class="sm:flex w-full sm:w-auto hidden mt-2 sm:mt-0 sm:space-x-2">
            {{ range .Site.Sections }}
            <li>
                <a href="{{ .Permalink }}" class="text-gray-500 hover:text-blue-400 hover:text-neutral-900 hover:bg-amber-400 p-3 rounded">
                {{- if .LinkTitle -}}
                {{- .LinkTitle -}}
                {{- else -}}
                {{- .Title -}}
                {{- end -}}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>