<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
{{- block "title" . }}
{{- .Title }} &ndash; {{ .Site.Title -}}
{{ end -}}
</title>
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
{{ if .Description -}}
<meta name="description" content="{{ .Description }}">
{{ end -}}
{{ if .Keywords -}}
<meta name="keywords" content="{{ delimit .Keywords "," }}">
{{ end -}}
{{ if .Params.Author -}}
<meta name="author" content="{{ .Params.Author }}">
{{ end -}}
{{ $styles := resources.Get "css/styles.sass" | resources.ToCSS (dict "outputStyle" "compressed") | postCSS (dict "config" "./assets/css/postcss.config.js") -}}
{{ if .Site.IsServer -}}
{{ $styles := $styles | fingerprint | resources.PostProcess -}}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ else -}}
{{ $styles := $styles | minify | fingerprint | resources.PostProcess -}}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ end -}}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{- if eq .RelPermalink "/" -}}600 Watt{{- else -}}{{- .Title -}}{{- end -}}">
<meta property="og:type" content="website">
{{ if .Params.Image -}}
{{ $image := .Resources.GetMatch .Params.Image -}}
<meta property="og:image" content="{{ $image.Permalink }}">
{{ else -}}
<meta property="og:image" content="/android-chrome-512x512.png">
{{ end -}}
</head>