{{ if .GitInfo -}}
<hr>
<div class="lastmod">
Zuletzt geändert am {{ .GitInfo.AuthorDate.Format "2. January 2006" }} von {{ .GitInfo.AuthorName }} &nbsp; <a href="https://codeberg.org/600watt/pages/commit/{{ .GitInfo.Hash }}" target="_blank" rel="noopener noreferer">Zeige Details</a>
</div>
{{ else if .Page.Lastmod -}}
<hr>
<div class="lastmod">
Zuletzt geändert am {{ .Page.Lastmod "2. January 2006" }}
</div>
{{ end -}}