<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{ partial "head.html" . }}

<body class="flex flex-col min-h-screen">
  <div class="container mx-auto">
    {{ partial "dev/dev-tools.html" . }}
    {{- partial "header.html" . -}}
    <main class="flex-1 mx-4 md:mx-12 lg:mx-24 mt-4 sm:mt-16">
        {{- block "main" . }}{{- end }}
    </main>
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>