{{ define "main" }}
{{ range .Pages }}
    <article class="px-6 mx-auto mb-16 prose text-gray-700 justify-self-center sm:px-4 md:px-0 lg:prose-lg">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ .Description }}
    </article>
{{ end }}
{{ end }}