{{ define "main" }}
<article class="px-6 mx-auto mb-16 prose text-gray-700 justify-self-center sm:px-4 md:px-0 lg:prose-lg">
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{ partial "lastmod.html" . -}}
</article>
{{ end }}