{{ define "main" }}

<div class="lg:flex lg:flex-row lg:gap-4">
    <div class="lg:basis-1/4 print:hidden">
        <div id="stickyTOC" class="sticky top-0 text-sm">{{ .Page.TableOfContents }}</div>
    </div>
    <article class="basis-full lg:basis-3/4 print:basis-full px-6 mx-auto mb-16 prose text-gray-700 justify-self-center sm:px-4 md:px-0 lg:prose-lg">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        
        {{ partial "lastmod.html" . -}}
    </article>
</div>

<!--
TODO: add scrollspy highlighting as described in
https://www.tailwindtoolbox.com/templates/multi-section-form-demo.php
-->
{{ end }}

