@tailwind base
@tailwind components
@tailwind utilities
@tailwind variants

@font-face
  font-family: 'Heebo'
  font-style: normal
  font-weight: 100
  font-display: swap
  src: url(/fonts/heebo-100.ttf) format('truetype')

@font-face
  font-family: 'Heebo'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(/fonts/heebo-400.ttf) format('truetype')

@font-face
  font-family: 'Heebo'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: url(/fonts/heebo-700.ttf) format('truetype')

@font-face
  font-family: 'Heebo'
  font-style: normal
  font-weight: 900
  font-display: swap
  src: url(/fonts/heebo-900.ttf) format('truetype')

/* Site Specific */
/* put site specific css styles here using the @layer directive */
/* see https://tailwindcss.com/docs/functions-and-directives#layer */
@layer base
    html
        font-family: 'Heebo', system-ui, sans-serif
    h1
        font-weight: 900

@layer components
    .welcome-headline
        @apply text-blue-700

    // Menu toggle
    input#nav-toggle:checked~label#show-button
        display: none
    input#nav-toggle:checked~label#hide-button
        display: flex
    input#nav-toggle:checked~#nav-menu
        display: block

    .box
        display: block
        @apply border border-slate-400 px-4 rounded-md
        
        &.warn
            @apply bg-amber-300

#TableOfContents li
    margin-top: 3px
    margin-bottom: 3px

#stickyTOC
    padding-top: 20px
    #TableOfContents
        a
            display: block
            padding: 6px 4px 6px 6px
            @apply rounded

            &:hover
                background-color: #ddd

.lastmod, .lastmod a
    font-weight: 100
    font-size: 0.85rem