{{ define "main" }}
    <div class="prose">
        <h1>404 Watt?</h1>
        <p><strong>Diese Ressource gibt es nicht. Tut uns leid.</strong></p>
        <p>Falls du einem Link innerhalb einer unserer Seiten gefolgt bist, sag uns bitte bescheid, dann können wir das reparieren.</p>
    </div>
{{ end }}