{{ define "main" }}
<h1 class="font-bold text-4xl">👋 Hallo, wir sind 600 Watt!</h1>

<p class="mt-6">Wir möchten dazu beitragen, dass möglichst viele Menschen selbst Strom aus Sonnenenergie erzeugen können.</p>

<h2 class="font-bold text-xl mt-8">Wie wir helfen wollen</h2>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6">
  <div class="border rounded-lg p-4">
    In <strong>lokalen Gruppen</strong> wollen wir die gegenseitige Unterstützung fördern. Alles, was wir tun, ist dazu gedacht, in möglichst vielen dezentralen Gruppen eingesetzt zu werden.
  </div>
  <div class="border rounded-lg p-4">
    Durch <strong>Vernetzung</strong> zwischen den lokalen Gruppen wollen wir herausfinden, welche Methoden am besten funktionieren und uns stetig weiter entwickeln.
  </div>
  <div class="border rounded-lg p-4">
    Wir stehen noch am Anfang. Im Moment (Stand August 2022) ist 600 Watt noch nicht viel mehr als eine Idee.
  </div>
</div>

<p class="mt-6"><a href="/ideen/" class="text-sky-400">→ Mehr über unsere Ideen</a></p>

<h2 class="font-bold text-xl mt-8">Was ist für Dich drin?</h2>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6">
  <div class="border rounded-lg p-4">
    Du deckst einen Teil Deines Stromverbrauchs aus selbst erzeugtem Solarstrom. Damit sparst Du Tag für Tag, Jahr für Jahr CO₂ ein.
  </div>
  <div class="border rounded-lg p-4">
    Du sparst längerfristig Geld. Die Investition zwischen 400 und 800 EUR macht sich in ein paar Jahren bezahlt.
  </div>
  <div class="border rounded-lg p-4">
    Doppelter Karma-Bonus. Du wirst Teil einer Gemeinschaft und hilfts anderen, diese Ziele ebenfalls zu erreichen.
  </div>
</div>

<p class="mt-6">Wie das geht? Lies <a href="https://www.verbraucherzentrale.nrw/wissen/energie/erneuerbare-energien/steckersolar-solarstrom-vom-balkon-direkt-in-die-steckdose-44715" class="text-sky-400">diesen ausführlichen Artikel</a> der Verbrauchrzentrale NRW.</p>

{{ end }}